.adaptations{
    margin-bottom: 30px;
}

.adaptation__date-check{
    color: #52c41a;
    font-size: 18px;
}

.adaptation__status{
    font-weight: bold;
}

.adaptation__task-date{
    margin-right: 8px;
    font-size: 11px !important;
    line-height: initial !important;
}

.adaptation__history-data{
    font-weight: bold;
}

.adaptation__tasks-actions{
    margin-right: 16px;
}

.adaptation__steps{
    margin-top: 20px;
    margin-bottom: 50px;
}

.adaptation__tasks-add{
    font-size: 30px;
    color: rgb(245, 123, 123);
}

.task__icon{
    font-size: 18px;
}

.adaptation__header {
	padding: 16px 24px;
}

.adaptation__body{
	padding: 16px 24px;
}

.adaptation__footer{
	padding: 16px 24px;
}

.content .description {
    display: table;
}

.description .term {
    display: table-cell;
    margin-right: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    line-height: 20px;
}

.description .detail {
    display: table-cell;
    padding-bottom: 8px;
    width: 100%;
    line-height: 20px;
}

.description .term:after {
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
    content: ":";
}

.ant-page-header-content{
    padding-top: 41px;
}
.ant-steps-item-title {
    font-size: 14px;   
}